body{
    background-color: rgba(138, 43, 226,0.2);
}
h1{
    text-align: center;
    color: rgb(109, 20, 192);
    background-color: rgba(138, 43, 226,0.5);
}
#btn{
    display: flex;
    justify-content: space-around;
    
    
}
#btn1{
    height: 40px;
    width: 80px;
    background-color: rgba(138, 43, 226,0.2);
}
#btn2{
    height: 40px;
    width: 80px;
    background-color: rgba(138, 43, 226,0.2)
}
#btn3{
    height: 40px;
    width: 80px;
    background-color: rgba(138, 43, 226,0.2);
}
#btn4{
    height: 40px;
    width: 80px;
    background-color: rgba(138, 43, 226,0.2);
}
#result{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(138, 43, 226,0.5);
    height: 40px;
}
#boxx{
    height: 300px;
    width: 100%;
    background-color: rgba(138, 43, 226,0.5);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#blank{
    width: 100%;
    height: 400px;
}
footer{
    text-align: center;
    background-color: rgba(138, 43, 226,0.5);
    height: 60px;
}


